.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.descriptionBox {
  max-width: var(--max-width);
  width: 100%;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.button {
  width: 100px;
  margin: 1rem;
  font-size: 1rem;
  z-index: 2;
  font-family: var(--font-mono);
}

.imagesContainer {
  max-width: var(--max-width);
  width: 100%;
  /* background-color: green; */
  height: auto;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  display: flex;
}

.imageBox {
  width: 100px;
  height: 150px;
  margin: 20px;
  background-color: gray;
}

.imageBox Image {
  width: auto;
  height: auto;
}
